.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    list-style-type: none;
    background-color: #f0f0f0;
    margin: 0;
  }

  .navbar li {
    margin: 0 10px;
  }
  
  .logo {
    flex: 0 0 auto; /* Prevent logo from growing or shrinking */
  }
  
  .logo img {
    max-width: 30%; /* Ensure logo scales down relative to its container */
    height: auto; /* Maintain aspect ratio */
  }
  
  .spacer {
    flex: 1;
  }

  .login,
  .logout button {
    padding: 8px 16px; 
    background-color: #007bff; 
    color: #fff; 
    text-decoration: none;
    border: none;
    border-radius: 5px;
  }

/* Remove default outline for focused and active states */
.login {
  text-decoration: none; /* Ensures no underline */
}

.delete button {
  padding: 8px 16px; 
  background-color: #ff8400; 
  color: #fff; 
  text-decoration: none;
  border: none;
  border-radius: 5px;
}